include THIRD_PARTY_NOTICES.md
recursive-include configs *.json *.txt
include assets/fonts/NotoSansMono*.ttf
include assets/fonts/OFL.txt
recursive-include web *.html *.css *.js *.jpg *.png
recursive-include docs *.md
include models/README.md
recursive-include schemas *.json
